@use "/src/styles/ui-mixins" as *;

.button {
  align-items: center;
  border: 2px solid theme(textlight, link);
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 10px;
  justify-content: center;
  outline: none;
  padding: 16px;
  width: 256px;

  &:disabled {
    cursor: default;
  }
}

.primary {
  background: theme(textlight, link);
  color: theme(textlight, onfill);

  &:hover {
    background: theme(textlight, hover);
  }

  &:active {
    background: theme(textlight, active);
  }

  &:focus {
    border: 2px solid theme(textlight, focus);
  }

  &:disabled {
    background: theme(borderlight, disabled);
    border: 2px solid theme(borderlight, disabled);
  }
}

.secondary {
  border: 2px solid theme(textlight, link);
  color: #0017c1;

  &:hover {
    background: #e8f1fe;
  }

  &:active {
    background: #e8f1fe;
  }

  &:focus {
    border: 2px solid theme(textlight, link);
  }

  &:disabled {
    background: none;
    border: 2px solid theme(borderlight, disabled);
    color: theme(borderlight, disabled);
  }
}

.tertiary {
  border: 2px solid theme(textlight, onfill);
  box-shadow: 0 0 0 0;
  color: theme(textlight, link);
  text-decoration-line: underline;

  &:hover {
    color: theme(textlight, hover);
  }

  &:active {
    color: theme(textlight, active);
  }

  &:focus {
    border: 2px solid theme(textlight, focus);
  }

  &:disabled {
    color: theme(borderlight, disabled);
  }
}
