@use "/src/styles/ui-mixins" as *;

$width: var(--input-width);

.inputContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  width: $width;
}

.input {
  align-items: center;
  background: theme(textlight, onfill);
  border: 2px solid theme(borderlight, field);
  border-radius: 0.5rem;
  color: theme(textlight, body);
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0.75rem 1rem;
  transition: border-color 0.2s;
  width: calc($width - 2rem);

  &:focus {
    border: 2px solid theme(borderlight, focused);
    transition: border-color 0.2s;
  }

  &.error {
    border: 2px solid theme(borderlight, alert);
    transition: border-color 0.2s;
  }
}

.required {
  color: theme(textlight, alert);
  margin-left: 0.5em;
}

.passwordButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  outline: none;
  position: absolute;
  right: 0;
  top: 2.725rem;
}

.error {
  color: theme(textlight, alert);
}
